<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>stolen things store</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/"><h1>StolenThings</h1></a>
        <div class="headerLinks">
            <a href="/">sign in</a>
            <a href="/">register</a>
        </div>
    </header>
    {% block main %}
    
    {% endblock %}
    <footer>
        <div class="footerLinks">
            <a href="/">facebook</a>
            <a href="/">instagram</a>
            <a href="/">X</a>
        </div>
        <p class="copyrights">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ad vero illum blanditiis eius. Explicabo vero, cumque perferendis, eum, distinctio eaque harum sed dolores adipisci ducimus alias quaerat deserunt ullam.</p>
    </footer>
</body>
</html>