* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    color: white;
}
body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
}
header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
header .headerLinks {
    display: flex;
    padding: 20px;
    gap: 20px;
}

header .headerLinks a {
    transition: 0.4s;
}

header .headerLinks a:hover {
    transform: scale(1.3);
}

header h1 {
    font-size: 30px;
}
main {
    margin-top: 140px;
}

main, .registerInputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-over-form {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 20px;
}

.registerInputs input{
    margin: 8px;
    padding: 6px 22px;
    background-color: transparent;
    border: 1px solid rgba(120, 120, 120, 0.4);
}

input:focus {
    outline: none;
}

.sign-button {
    margin-top: 10px;
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 2px 15px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #636262;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.copyrights {
    padding: 0 10px;
    width: 50%;
    max-width: 200px;
    font-size: 10px;
}

.footerLinks {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footerLinks a:hover {
    text-decoration: underline;
}

.error {
    margin: 10px;
    padding: 3px 10px;
    background-color: rgb(255, 94, 94);
    border-radius: 10px;
}