
main:not(#itemPageView) {
    margin-top: 140px;
}
main, .registerInputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.error {
    margin: 10px;
    padding: 3px 10px;
    background-color: rgb(255, 94, 94);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    color: white;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}
header {
    width: 100%;
    background-color: black; /* Example background color */
    padding: 10px 0; /* Example padding */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .headerLinks {
    display: flex;
    padding: 20px;
    gap: 20px;
}

header .headerLinks a {
    transition: 0.4s;
}

header .headerLinks a:hover, .item:hover {
    transform: scale(1.1);
}

header h1 {
    font-size: 30px;
}

.text-over-form {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 20px;
}

.registerInputs input {
    margin: 8px;
    padding: 6px 22px;
    background-color: transparent;
    border: 1px solid rgba(120, 120, 120, 0.4);
}

input:focus {
    outline: none;
}

.sign-button {
    margin-top: 10px;
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 2px 15px;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #636262;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
}

.copyrights {
    padding: 0 10px;
    width: 50%;
    max-width: 200px;
    font-size: 10px;
}

.footerLinks {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footerLinks a:hover {
    text-decoration: underline;
}


img {
    width: 150px;
    height: 160px;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.itemsContainer {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin: auto;
    gap: 10px;
}
.item {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    transition: 0.3s;
}
.itemprice {
    color: rgb(100, 100, 100);
}

#add-button {
    color: rgb(0, 0, 0);
    padding: 4px 7px;
    font-size: 10px;
    background-color: white;
    font-weight: bold;
    border-radius: 7px;
}
#itemPageView {
    margin-top: 50px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#itemPageView img {
    width: 50%;
    max-width: 300px;
    margin-bottom: 50px;
    height: auto;
}
.imageItemTitle {
    font-size: 40px;
    color: white;
    text-align: center;
}
.imageItemprice {
    font-size: 20px;
    color: gray;
    text-align: center;
}

.types {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: 80%;
    max-width: 900px;
    margin-left: 40px;
}
.types a {
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 5px;
 }

@media (max-width: 850px){
    .item {
        width: 45%;
    }
}