{% extends 'shop/layout.html' %}
{% block main %}
<div class="types">
    <a href="/">games</a>
    <a href="/">phones</a>
    <a href="/">music</a>
</div>
<div class="wrapper">
    <div class="itemsContainer">
        {% for item in items %}
        <a class="item" href="{% url 'itemPage' clickedItemTitle=item.item_name %}">
            <img src="{{ item.item_image }}" alt="">
            <p class="itemname">{{ item.item_name }}</p>
            <p class="itemprice">${{ item.item_price }}</p>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}