{% extends 'shop/layout.html' %}
{% block main %}
<main id="itemPageView">
    <img src="{{ item.item_image }}" alt="item" class="big-image">
    <div class="itemPagetextContainer">
        <p class="imageItemTitle">{{ item.item_name }}</p>
        <p class="imageItemprice">${{ item.item_price }}</p>
        <form action="{{ item.item_name }}" class="registerInputs" method="post">
            {% csrf_token %}
            <input type="number" placeholder="Bid" name="newBid">
            <button class="sign-button" type="submit">Bid</button>
        </form>    
        {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    </div>
</main>
{% endblock %}